@import "tailwindcss";

/* Oculta scrollbar mas mantém scroll funcional */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

* {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}